#header {
    background-color: rgb(5, 3, 5);
  }
  
  * {
    padding: 0px;
    margin: 0px;
  }
  
  #header {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, Sans-Serif;
  }
  
.title {
    background-color: rgb(73, 62, 48);
    padding: 12px;
  }
  
  /*_ _ menu _ _ */

  .nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  .nav li a:hover {
    background-color: #434343;
  }
  
li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

  .nav ABOUT ME  {

  display: flex;
}

  /*_ _ contenedor _ _ */

  .flex-container {
  display: flex;  
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: auto;
  padding: 20px;
  font-size: 30px;
}
.flex-container {
  justify-content: space-between; 
 
}

.flex-container {
  margin-left: 0px;
  min-width: auto;

}

.imagen img {

    width: 100%
}

.cuadro1 {
    width: 50%;
    height: 50%;
    margin: 0%;
}

.cuadro2 {

    width: 50%;
    height: 50%;
    margin: 0%;

}

/*---- see projects grid container--- */

.grid-container {
    display: grid;
    height: 600px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: grey;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 200px;
  }

.grid-container img {
 
    width: 300px;
    height: 150px;
}